body {
  background-color: #CCCCC0;
  color: #000000;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  padding: 10px 0px 10px 0px;
  margin-top: 25px;
  text-align: center;
  text-shadow: 2px 2px 3px #C0C0C0;
}

.planet {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

table {
  border: 3px solid #000;
  border-collapse: collapse;
  margin: 0% 15% 0% 15%;
  padding: 0;
  table-layout: fixed;
  width: 70%;
  height: auto;

}

td {
  background-color: #fffff7;
  border: 1px solid #000;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.0;
  line-height: 1.2m;
  padding: 5px 5px 3px 5px;
  text-align: left;
}

th {
  background-color: #DFDFDF;
  border: 1px solid #000;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 1.0em;
  padding: 5px;
  text-align: left;
}

tr {
  border: 1px solid #000;
  margin-bottom: .625em;
}